@model IEnumerable<QL_thue_bao.Models.LOAITHUEBAO>

@{
    ViewBag.Title = "LOAITHUEBAO";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>LOAITHUEBAO</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>ID</th>
        <th>
            @Html.DisplayNameFor(model => model.TenLoai)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.IdLoai</td>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdLoai }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdLoai }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdLoai })
        </td>
    </tr>
}

</table>
